<?xml version="1.0"?>
<config>
    <modules>
        <LCB_CustomMessages>
            <version>1.0.0</version>
        </LCB_CustomMessages>
    </modules>
    <global>
        <blocks>
            <lcb_custom_messages>
                <class>LCB_CustomMessages_Block</class>
            </lcb_custom_messages>
        </blocks>        
        <helpers>
            <lcb_custom_messages>
                <class>LCB_CustomMessages_Helper</class>
            </lcb_custom_messages>
        </helpers>
        <models>
            <lcb_custom_messages>
                <class>LCB_CustomMessages_Model</class>
                <resourceModel>lcb_custom_messages_resource</resourceModel>
            </lcb_custom_messages>
            <lcb_custom_messages_resource>
                <class>LCB_CustomMessages_Model_Resource</class>
                <entities>
                    <notification>
                        <table>lcb_custom_messages_notification</table>
                    </notification>
                </entities>
            </lcb_custom_messages_resource>
        </models>
        <resources>
            <lcb_custom_messages_setup>
                <setup>
                    <module>LCB_CustomMessages</module>
                </setup>
            </lcb_custom_messages_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <lcb_custom_messages_controller_action_layout_load_before>
                        <class>lcb_custom_messages/observer</class>
                        <method>beforeLoadLayout</method>
                    </lcb_custom_messages_controller_action_layout_load_before>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LCB_CustomMessages before="Mage_Adminhtml">LCB_CustomMessages_Adminhtml</LCB_CustomMessages>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <LCB_CustomMessages>
                    <files>
                        <default>LCB_CustomMessages.csv</default>
                    </files>
                </LCB_CustomMessages>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <lcb_custom_messages>
            <settings>
                <enable>1</enable>
            </settings>
        </lcb_custom_messages>
    </default>
</config>